body[theme="light"]{
    --primary: hsl(240deg 8% 12%);
    --secondary: rgb(255, 98, 41);
    --secondary-2: rgba(238,76,27,1);
    --secondary-shadow: #ff8858;
    --demo: #9d4318;
    --footer: #3336d5;
    --bg-footer: #07096e;
    --third: rgba(254,227,83,1);
    --third-2: rgba(244,202,37,1);
    --third-shadow: #faffa8;
    --main-bg: white;
}
body[theme="dark"]{
    --primary: hsl(0deg 0% 100%);
    --secondary: rgb(255 41 154);
    --secondary-2: rgb(129 2 69);
    --secondary-shadow: #ab51b7;
    --demo: #200942ad;
    --footer: #12122a;
    --bg-footer: #0b030e;
    --third: #673ab7;
    --third-2: #431c89;
    --third-shadow: #843fff;
    --main-bg: #141420;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "arial";
    list-style: none;
    color: var(--primary);
    transition: color 400ms, background 400ms;
}

body {
    background: var(--main-bg);
    overflow-x: hidden;
}

.max-width {
    max-width: 95%;
}

nav {
    margin: 0 auto 2rem;
    width: 70rem;
    height: 5rem;
    border-bottom: 1px solid rgb(201 201 201);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;

}

.nav__home {
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.theme {
    display: flex;
    flex-direction: row;
    width: 4rem;
    height: 2rem;
    padding: 0.2rem;

    margin-left: 1rem;
    justify-content: space-between;
    position: relative;
    border: 1px solid rgb(201 201 201);
    border-radius: 1rem;
}

.theme svg {
    border-radius: 50%;
    padding: 0.2rem;
    cursor: pointer;
}

#dark {
    margin-right: -1px;
}

.theme-active {
    background-color: var(--secondary);
    box-shadow: 0px 1px 3px var(--secondary);
}
.theme-active path {    
    stroke: white
}
.theme-active circle{
    stroke: white;
}


.nav__items {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 35rem;
    justify-content: space-between;
    margin: 0 1rem;
}

#solution svg path {
    stroke: var(--secondary);
}

.contact {
    padding: 0.8rem 2rem;
    background: rgb(254,227,83);
    background: linear-gradient(180deg, var(--third) 0%, var(--third-2) 100%);
    border: none;
    border-radius: 1.3rem;
    box-shadow: 1px 1px 3px var(--third-shadow) inset;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
}

.nav__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.nav__item svg {
    margin-left: 0.3rem;
    height: 1.2rem;
    width: 1.2rem;
}

body[theme="dark"] .solutions-items {
    background-color: #ca1976;
}

.solutions-items {
    position: absolute;
    font-weight: 400;
    top: 0;
    left: -1rem;
    margin-top: 2.3rem;
    padding: 1rem;
    width: 10rem;
    background-color: white;
    -webkit-box-shadow: 0px 0.2rem 20px 2px rgb(0 0 0 / 6%);; 
    box-shadow: 0px 0.2rem 20px 2px rgb(0 0 0 / 6%);;
    border-radius: 0.5rem;
    visibility: hidden;
    opacity: 0;
    transition: color 400ms, background 400ms, margin-top 300ms, opacity 300ms, visibility 300ms;
    z-index: 10;
}

.solutions-items > li:first-child {
    margin-top: 0rem;
    position: relative;
}

.solutions-items > li {
    margin-top: 1rem;
    position: relative;
}

.solutions-items-active {
    margin-top: 3rem;
    visibility: visible;
    opacity: 1;
}


main {
    margin: 4rem auto 2rem;
    width: 70rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-panel {
    width: 50%;
    color: var(--primary);
}

.left-panel h2 {
    color: var(--secondary);
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.left-panel h1 {
    margin-left: -0.28rem;
    font-weight: 600;
    font-family: 'Archivo Black', sans-serif;
    font-size: 5rem;
    letter-spacing: -4px;
    line-height: 6rem;
    position: relative;
    z-index: 2;
}

.left-panel p {
    margin-top: 1rem;
    font-weight: 600;
    padding-right: 8rem;
}

.demo-panel {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.demo {
    color: white;
    font-weight: 600;
    padding: 1.2rem 1.4rem;
    background: linear-gradient(339deg, var(--secondary-2) 0%, var(--secondary) 100%);    border: none;
    border-radius: 1.7rem;
    box-shadow: inset 1px 1px 3px var(--secondary-shadow);
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.demo::after {
    position: relative;
    content: url("chevron-forward-outline.svg");
    background-color: var(--third);
    margin-left: 1rem;
    height: .8rem;
    width: .8rem;
    border-radius: 50%;
    padding: 0.2rem;
    box-shadow: 1px 1px 10px var(--demo);
    transition-duration: 400ms;
}

.our-story {
    margin-left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}


.our-story-hero {
    height: 5rem;
    width: 5rem;
    background-image: url('story-guy.jpg');
    background-size: cover;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.our-story-hero::after{
    position: absolute;
    content: url("caret-forward-outline.svg");
    height: .8rem;
    width: 0.8rem;
    padding: .4rem;
    box-shadow: 0px 2px 7px #0000002f;
    background-color: white;
    border-radius: 50%;
    margin-left: 4rem;
}

.our-story-text {
    font-weight: 600;
    margin-left: 1.5rem;
}

.right-panel {
    width: 50%;
    position: relative;
    height: 570px;
}

.merchant-support {
    height: 6rem;
    
    border-radius: 1rem;
    position: absolute;
    background-color: white;
    top: 19rem;
    left: -5rem;
    box-shadow: 0 15px 20px #0000001a;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.merchant-support img {
    height: 100%;
    border-radius: 0.5rem;
    margin-right: 1.5rem;
}

.merchant-support > div {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.merchant-support > div h4 {
    color: var(--secondary);
    font-weight: 600;
    font-size: 1.7rem;
}

.merchant-support > div > div {
    color: hsl(240deg 8% 12%);
}

.hero {
    height: 100%;
    border-radius: 50%;
}

.profil-display {
    display: flex;
    justify-content: end;
    margin-top: -4rem;
    width: -moz-fit-content;
    width: fit-content;
}

.profil-display img {
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
    margin-left: -1.5rem;
    border: 0.5rem solid white;
    box-sizing: content-box;
    box-shadow: 4px 6px 18px rgb(0 0 0 / 12%)

}
.profil-display::after {
    content: "1M+";
    font-weight: 600;
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin-left: -1.5rem;
    border: 0.5rem solid white;
    background: white;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 6px 18px rgb(0 0 0 / 12%)
}

body[theme="dark"] .profil-display img {
    border-color: var(--secondary);
}

body[theme="dark"] .profil-display::after {
    border-color: var(--secondary);
    background-color: var(--secondary);
}
footer {
    margin: 4rem 0 0;
    background-color: var(--bg-footer);
}

.footer-container {
    margin: 0 auto 0;
    padding: 2rem 0;
    width: 70rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-container * {
    color: white;
}

.footer-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    width: -webkit-fill-available;
    justify-content: space-between;
    height: 100%;
}

.footer-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 25%;
    max-width: 10rem;
}

.solutions-section {
    font-weight: 600;
    width: 20rem;
}

.solutions-section h5 {
    font-size: 3rem;
}
.solutions-section p {
    font-weight: 400;
    margin-top: 1rem;
}

.footer-item > img {
    width: 50%;
}
h6 {
    font-size: 1rem;
}
.footer-item > button {
    background: none;
    border: none;
    margin-top: 1rem;
    border-radius: 2rem;
    transition-duration: 400ms;
    padding: .5rem 1rem;
    margin-left: -1rem;
    cursor: pointer;
}

.footer-item > button:hover {
    background: var(--footer);
}

.separator {
    height: 50%;
    width: 4px;
    border-radius: 50%;
    background: white;
    margin: 0 2rem;
}

@media screen and (max-width: 800px){
    main {
        flex-direction: column;
    }

    .left-panel, .right-panel {
        width: 100%;
    }

    .left-panel {
        display: flex;
        flex-direction: column;
    }

    .left-panel p {
        padding: unset;
    }

    .demo-panel {
        align-self: center;
    }
    
    .right-panel{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
    }

    .merchant-support {
        left: unset;
        top: unset;
    }

    .hero {
        height: 530px;
        width: 530px;
        margin-right: -5rem;
        align-self: flex-end;
    }
    

    .footer-container {
        padding: 2rem 2rem;
    }
    .separator {
        display: none;
    }

    .solutions-section {
        display: none
    }


    .footer-items {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

    .footer-item {
        width: unset;
        width: 50%;
        max-width: unset;
    }
    .footer-item > img {
        max-width: 8rem;
    }

    .footer-item:nth-child(even){
        align-items: flex-end;
    }
    .footer-item:nth-child(even) button{
        margin-right: -1rem;
    }
    .footer-item:nth-child(even) h6{
        text-align: end;
    }
}
